*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    font-family:'Montserrat',sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    font-size: large;
    display: grid;
    justify-content: center;
}

.tarjetas{
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1f 1f 1f 1f 1f ;
    justify-items: center;
}
.card{
    margin: 20px;
    padding: 20px;
}

footer{
    padding: 3em;
    background-color: #000c66;
    margin-bottom: 0;
    margin-top: 1.5em;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

.tarjetas {
    grid-area: tarjetas;
}

footer{
    grid-area: footer;
}

@media (min-with:500px) { 
    .tarjetas{
        margin: 5px;
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1f;
        justify-items: center;
    }
    .card{
        margin: 20px;
        padding: 20px;
}
    body{
        margin-bottom: 1em;
        grid-template-areas: 
        'header'   'header'
        'nav'      'nav'
        'tarjetas' 'tarjetas'
        'footer'   'footer';
    }
}

@media (min-width:991px) {}

